.created-area {
  background-color: #fdf8f4;
  height: 100%;
  padding: 10px 10px 0 10px;
}

.created-area-type {
  text-transform: capitalize;
  color: grey;
}

.created-area-type-span {
  margin: 20px 0 20px 0;
  padding: 15px 0 15px 0;
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #73ad21;
}

.created-area-fields {
  text-transform: capitalize;
  color: grey;
}

.created-area-field-name {
  margin: 20px 0 20px 0;
  color: black;
  width: 100%;
  display: block;
  border-radius: 15px;
  border: 2px solid #73ad21;
}

.created-area-field-name > div > input {
  width: 87%;
  display: block;
  margin: 10px auto;
}

.created-area-field-name > div > select {
  width: 87%;
  display: block;
  margin: 10px auto;
}

.created-area-field-name-span {
  display: inline-block;
  width: 100%;
  margin: 15px 0 15px 10px;
  font-weight: bold;
  font-size: 20px;
}

.created-area-field-id {
  margin: 20px 0 20px 0;
  color: black;
  width: 100%;
  display: block;
  border-radius: 15px;
  border: 2px solid #73ad21;
}

.created-area-field-id > div > input {
  margin: 15px 0 15px 10px;
  width: 87%;
}

.created-area-field-id-span {
  display: inline-block;
  margin: 15px 0 15px 10px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}
